body {
    margin: 0 auto;
    background-image: url("../image/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 1000px;
}

h1 {
    margin: 0 auto;
    font-family: arial, sans-serif;
    text-align: center;
    font-size: 50px;
    color: rgb(100, 225, 223);
    background-color: rgba(100, 100, 100, 0.8);
    padding-top: 20px;
    padding-bottom: 20px;
}

p {
    font-family: arial, sans-serif;
    font-size: 30px;
    text-align: center;
    color: #fff;
    margin-top: 100px;
}

.container {
    width: 500px;
    height: 320px;
    text-align: center;
    background-color: rgba(52, 73, 94, 0.7);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 150px;
}

.container img {
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 30px;
}

input[type="text"] {
    height: 45px;
    width: 300px;
    font-size: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    padding-left: 30px;
}

.btn-confirm {
    margin-right: 30px;
    font-size: 20px;
    font-family: arial, sans-serif;
    padding: 15px 25px;
    color: #fff;
    border: none;
    border-radius: 50px;
    background-color: #2ECC71;
    border-bottom: 4px solid #27AE60;
}

a {
    text-decoration: none;
    font-size: 20px;
    font-family: arial, sans-serif;
    padding: 15px 25px;
    color: #fff;
    border: none;
    border-radius: 50px;
    background-color: #2ECC71;
    border-bottom: 4px solid #27AE60;
}