table {
    font-family: arial, sans-serif;
    font-size: 20px;
    border-collapse: collapse;
    width: 100%;
    margin-top: 100px;
}

td, th {
    border: 1px solid #000000;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: rgba(22, 25, 12, 0.7);
}

body {
    margin: 0 auto;
    background-image: url("../image/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 1000px;
}

h1 {
    margin: 0 auto;
    font-family: arial, sans-serif;
    text-align: center;
    font-size: 50px;
    color: rgb(100, 225, 223);
    background-color: rgba(100, 100, 100, 0.8);
    padding-top: 20px;
    padding-bottom: 20px;
}

p {
    font-family: arial, sans-serif;
    font-size: 30px;
    text-align: center;
    color: #fff;
    margin-top: 100px;
}

input[type="text"] {
    height: 45px;
    width: 300px;
    font-size: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    padding-left: 30px;
    border-radius: 100px;
    border: none;
}

.btn-edit {
    margin-right: 30px;
    font-size: 20px;
    font-family: arial, sans-serif;
    padding: 15px 25px;
    color: #fff;
    border: none;
    border-radius: 50px;
    background-color: #2ECC71;
    border-bottom: 4px solid #27AE60;
}

a {
    text-decoration: none;
    font-size: 20px;
    font-family: arial, sans-serif;
    padding: 15px 25px;
    color: #fff;
    border: none;
    border-radius: 50px;
    background-color: #2ECC71;
    border-bottom: 4px solid #27AE60;
}