body {
    margin: 0 auto;
    background-image: url("../image/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 1000px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 10px;
}

li {
    float: left;
}

li a {
    font-family: arial, sans-serif;
    font-size: 20px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 10px;
}

li a:hover {
    background-color: #111;
}

table {
    font-family: arial, sans-serif;
    font-size: 20px;
    border-collapse: collapse;
    width: 100%;
    margin-top: 100px;
}

td, th {
    border: 1px solid #000000;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: rgba(22, 25, 12, 0.7);
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.action {
    border-radius: 10px;
    background-color: #EC712A;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

h1 {
    margin: 0 auto;
    font-family: arial, sans-serif;
    text-align: center;
    font-size: 50px;
    color: rgb(100, 225, 223);
    background-color: rgba(100, 100, 100, 0.8);
    padding-top: 20px;
    padding-bottom: 20px;
}

p {
    font-family: arial, sans-serif;
    font-size: 30px;
    text-align: center;
    color: #fff;
    margin-top: 100px;
}